<table cellspacing="0px" cellpadding="10px">
  <tr bgcolor="#99CC33">
    <th>Engineer</th>
    <th>Role</th>
  </tr>

<% @resources.each do |resource| %>
  <tr class="<%=cycle('even_row','odd_row')%>">
    <td align="center"><%=h resource.engineer.name.to_s %></td>
    <td align="left"><%=h resource.role %></td>
    <td><%= link_to 'Show', resource %></td>
    <td><%= link_to 'Edit', edit_resource_path(resource) %></td>
    <td><%= link_to 'Destroy', resource, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
<%= will_paginate @resources %>
<br />

<%= link_to 'New resource', new_resource_path(:engineer_id => @engineer) %>