<% form_for(@resource,:html => { :multipart => true } ) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :role %>:<br />
    <%= f.text_field :role %>
  </p>
  <p>
    <%= f.label :engineer_id %>:<br />
    <span class="nonEditableField"><%= f.label @resource.engineer.name %></span>
  </p>
  <p>
      File:<br />
      <%= f.file_field :f %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @resource %> |
<%= link_to 'Back', resources_path %>