<p>
  <b>Role:</b>
  <%=h @resource.role %>
</p>

<p>
  <b>Engineer:</b>
  <%=h @resource.engineer.name %>
</p>

<p>
   <b>Image:</b>
   <% if image? @resource.f_content_type %>
      <%= image_tag  @resource.f.url(:thumb) %>         
   <% end %>
   <a href="<%=@resource.f.url %>">View</a>
</p>

<%= link_to 'Edit', edit_resource_path(@resource) %> |
<%= link_to 'Back', resources_path %>