<fieldset>
        <legend><span class="subEntryLabel">Project</span></legend>
<p>
  <b>Name:</b>
  <%=h @project.name %>
</p>

<p>
  <b>Description:</b>
  <%=h @project.description %>
</p>

<p>
  <b>Organization:</b>
  <%=h @project.organization_id %>
</p>
</fieldset>
<p>
<fieldset>
        <legend><span class="subEntryLabel">Assignments</span></legend>     
        <%= render( :partial => "assignment_index", :object => @project ) %>
</fieldset>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>