<h1>New resource</h1>

<% form_for(@resource, :html => { :multipart => true } ) do |f| %>
   <%= f.error_messages %>
  <p>
    <%= f.label :engineer_id %><br />
    <%= f.select :engineer_id, Engineer.find(:all).collect { |e| [e.name,e.id] } %>
  </p>
  <% fields_for :resource do |r| %>  
  <p>
    Role: <br />
    <%= r.text_field :role %>
  </p>
  <p>
      File: <br />
      <%= r.file_field :f %>
  </p>
  <% end %>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', resources_path %>