<div class="errorNotice"><%= flash[:error] %></div>
   <% if @engineer.email_addresses.empty? %>
      <div class="listNotice">No email addresses...</div>
   <% else %>
      <table width="100%" style="border-style:inset;background-color: #99CC99">
      <tr><th>Label</th><th>Email Address</th></tr>
      <% @engineer.email_addresses.each do |email_address| %>
         <tr class="<%=cycle('even_row','odd_row')%>"><td><%= email_address.label %></td><td><%= email_address.address %></td><td>
            <%= link_to_remote 'Delete', :url => {:controller => 'email_addresses', :action => 'destroy', :email_address_id => email_address.id, :engineer_id => @engineer.id}, :update => 'email_addresses' %>
         </td></tr>
      <% end %>
      </table>
   <% end %>