<div class="errorNotice"><%= flash[:error] %></div>
   <% if @engineer.phone_numbers.empty? %>
      <div class="listNotice">No phone numbers...</div>
   <% else %>
      <table  width="100%" style="border-style:inset;background-color:#99CC99;">
      <tr><th>Label</th><th>Phone Number</th></tr>
      <% @engineer.phone_numbers.each do |phone_number| %>
         <tr class="<%=cycle('even_row','odd_row')%>"><td><%= phone_number.label %></td><td><%= phone_number.number %></td><td>
         <%= link_to_remote 'Delete', :url => {:controller => 'phone_numbers', :action => :destroy, :phone_number_id=>phone_number.id, :engineer_id => @engineer.id}, :update => 'phone_numbers' %>
         </td></tr>
      <% end %>
      </table>
   <% end %>