<% form_for(@engineer) do |f| %>
  <%= f.error_messages %>

  <p>
     <%= f.label 'Tag List (Delimiter = ,)' %><br />
     <%= f.text_field :tag_list %>
  </p>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :years_of_experience %><br />
    <%= f.text_field :years_of_experience %>
  </p>  
  <p>
    <%= f.label :skill_level_id %><br />
    <%= f.select :skill_level_id, SkillLevel.find(:all).collect{|skill| [skill.name,skill.id]} %>
  </p>  
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>
<%= link_to 'Back', engineers_path %>