<fieldset>
  <legend><span class="subEntryLabel">Engineer</span></legend>
<p>
  <b>Name:</b>
  <%=h @engineer.name %>
</p>

<p>
  <b>Years of experience:</b>
  <%=h @engineer.years_of_experience %>
</p>

<p>
  <b>Skill level:</b>
  <%=h @engineer.skill_level.name %>
</p>
</fieldset>
<p>
<fieldset>
        <legend><span class="subEntryLabel">Assignments</span></legend>     
        <%= render( :partial => "assignment_index", :object => @engineer ) %>
</fieldset>
</p>
<p>
<fieldset>
        <legend><span class="subEntryLabel">Resources</span></legend>     
        <%= render( :partial => "resource_index", :object => @engineer ) %>
</fieldset>
</p>
<%= link_to 'Edit', edit_engineer_path(@engineer) %> |
<%= link_to 'Back', engineers_path %>