<div id="engineer_search" style="margin-bottom: 10px;background-color:#FF9933;padding-bottom:10px">
<fieldset>
<legend><span class="fieldsetLabel">Engineer Search</span></legend>
<% form_tag ('/engineers/search', :method => :get, :style => "border-right-style:thin") do %>
   <% fields_for :name do |n| %>
   FirstName:<%= text_field_with_auto_complete :name, :fname %><br />
   LastName: <%= text_field_with_auto_complete :name, :lname %>
   <% end %>
   Experience (at least):<%= select("experience","years", [['0',0],['1',1],['2',2],['3',3],['4',4],['5',5]]) %>
   Skill Level: <%=select "skill", "id", SkillLevel.find(:all).collect { |s| [s.name,s.id] }, {:include_blank => true} %><br />
   Has Resume? <%= check_box_tag "resume","1" %><br />
   Has Picture? <%=check_box_tag "photo","1"%><br />
   <%= submit_tag 'Engineer Query' %>
<% end %>
</fieldset>
</div>